.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-button {
  height: 10vmin;
  width: 10vw;
  min-width: 100px;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  border: black;
}

.Results-table {
  text-align: center;
}

.Results-table-cell {
  padding: 10px;
}

.colorGreen {
  background-color: lightgreen;
}

.colorCoral {
  background-color: lightcoral;
}

.colorYellow {
  background-color: lemonchiffon;
}

.piano {
  /* FIXME: make width dynamic */
  position: relative;
  width: 728px;
  overflow: hidden;
  margin: auto;
  text-align: center;
  padding: 10px;
}

.piano.phone {
  /* FIXME: make width dynamic */
  position: relative;
  width: 364px;
  overflow: hidden;
  margin: auto;
  text-align: center;
  padding: 0;
}

.key {
  float: left;
  position: relative;
  width: 50px;
  height: 180px;
  margin: 0 2px 2px 0;
  background: #fff;
  border-radius: 0 0 4px 4px;
}

.key.pressed,
.key:active {
  background: #f4f3f3;
  box-shadow: inset 3px 2px 3px #999, inset -3px 2px 3px #999;
}

.key.black {
  width: 0;
  margin: 0;
  z-index: 2;
}

.key.black:after {
  content: "";
  position: absolute;
  top: 0px;
  left: -16px;
  display: block;
  width: 32px;
  height: 110px;
  background: #000;
  border-radius: 0 0 4px 4px;
  z-index: 1;
}

.key.black.pressed:after,
.key.black:active:after {
  background-color: #555;
}

